<a class=`
        rounded-full border flex justify-center items-center gap-x-2 py-2 px-4 
        dark:border-white/10 dark:bg-white/5 border-black/30 bg-gray/5
        dark:hover:bg-slate-900
        hover:scale-110  hover:bg-white/10 dark:hover:bg-gray/90 
        transition duration-400 ease-in-out
        `
    {...Astro.props}
    target="_blank"
    rel="noopener noreferrer"
>
    <slot />
</a>