@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

.link-active {
  background-color: rgba(0, 0, 0, 0.1); /* Equivalente a bg-transparent/10 */
  font-weight: 600; /* Equivalente a font-semibold */
  box-shadow: 0 4px 6px -1px rgba(255, 255, 255, 0.1); /* Equivalente a shadow-lg shadow-white/10 */
  backdrop-filter: blur(50px); /* Equivalente a backdrop-blur-sm */
}

.dark .link-active {
  background-color: rgba(
    0,
    0,
    0,
    0.1
  ); /* Equivalente a dark:bg-transparent/10 */
}

@keyframes scale-up-center {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

#themes-menu.open {
  display: inline;
  animation: scale-up-center 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* Animation that bounce into rigt */
@keyframes bounce-horizontal-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-horizontal-right {
  animation: bounce-horizontal-right 2s infinite;
}

/* Animation that bounce into left */
@keyframes bounce-horizontal-left {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-horizontal-left {
  animation: bounce-horizontal-left 2s infinite;
}

/* Effect that show last child when hover */
.custom-article {
  position: relative;
  width: 250px;
  transition: all 0.3s ease;
}
.custom-article img:first-child {
  box-shadow: 0 60px 60px -60px rgba(0, 30, 255, 0.5);
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}
.custom-article img:last-child {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-article::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    transparent 10%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0) 95%
  );
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-article:hover::before {
  opacity: 1;
}
.custom-article:hover img:last-child {
  opacity: 1;
  transform: translateY(10%);
}
