@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}

/* Animation that bounce into rigt */
@keyframes bounce-horizontal-right {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-horizontal-right {
  animation: bounce-horizontal-right 2s infinite;
}

/* Animation that bounce into left */
@keyframes bounce-horizontal-left {
  0%,
  100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
.animate-bounce-horizontal-left {
  animation: bounce-horizontal-left 2s infinite;
}

@media (prefers-reduced-motion: reduce) {
  .animate-infinite-scroll,
  .animate-bounce-horizontal-right,
  .animate-bounce-horizontal-left {
    animation: none;
  }
}
