---
import StudyItem from "@/components/about_me/StudyItem.tsx";
import { getLocaleFromPathname, t } from "@/i18n/i18n";
import StudyList from "@/components/about_me/StudyList.tsx";

const locale = getLocaleFromPathname(Astro.url.pathname);
const STUDY = [
  {
    date: t(locale, "study.item_4_date"),
    title: t(locale, "study.item_4_title"),
    school: t(locale, "study.item_4_company"),
    description: [
      t(locale, "study.item_4_description_1"),
      t(locale, "study.item_4_description_2"),
      t(locale, "study.item_4_description_3"),
      t(locale, "study.item_4_description_4"),
    ],
    link: "https://www.polimi.it",
  },
  {
    date: t(locale, "study.item_3_date"),
    title: t(locale, "study.item_3_title"),
    school: t(locale, "study.item_3_company"),
    description: [t(locale, "study.item_3_description_1")],
    link: "https://www.pcacademy.it",
  },
  {
    date: t(locale, "study.item_2_date"),
    title: t(locale, "study.item_2_title"),
    school: t(locale, "study.item_2_company"),
    description: [
      t(locale, "study.item_2_description_1"),
      t(locale, "study.item_2_description_2"),
      t(locale, "study.item_2_description_3"),
      t(locale, "study.item_2_description_4"),
    ],
    link: "https://www.britanico.edu.pe",
  },
  {
    date: t(locale, "study.item_1_date"),
    title: t(locale, "study.item_1_title"),
    school: t(locale, "study.item_1_company"),
    description: [
      t(locale, "study.item_1_description_1"),
      t(locale, "study.item_1_description_2"),
      t(locale, "study.item_1_description_3"),
      t(locale, "study.item_1_description_4"),
    ],
    link: "https://www.utp.edu.pe/web/",
  },
];
---

<StudyList studies={STUDY} client:load />

<!--
<ol class="relative border-s border-gray-200 dark:border-gray-700">
  {
    STUDY.map((study) => (
      <li class="mb-10 ms-6">
        <StudyItem {...study} />
      </li>
    ))
  }
</ol>
-->
