---

const personalImageAlt = "Pedro"
import SchoolIcon from "@/icons/School.astro";
import Study from "./Study.astro"
import LanguagesTable from "./LanguagesTable.astro"
 
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-6 [&>p>strong]:text-red-600 dark:[&>p>strong]:text-red-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy Pedro y mi pasión por los videojuegos me han llevado a estudiar
      <strong><em class="italic">Ingeniería de Software</em></strong>, que eventualmente me permitió  
      trabajar en distintos países.
      Conociendo así, el <strong>enfoque y metodología</strong> para afrontar los 
      eventuales desafíos  en el campo de la informática en diferentes maneras.
    </p>

    <p>
      En este largo camino he tenido la oportunidad de llevar 
      <strong>con éxito múltiples productos de 0 a 1.</strong> 
      Formando parte de equipos de trabajo, que de manera efectiva y eficiente, hemos garantizado
      <strong>un resultado óptimo  y eficiente.</strong>
    </p>

    <p>
      Actualmente trabajo en el sector <strong><em class="italic">banking</em></strong>, 
      utilizando principalmente tecnologías como <strong>Java, groovy, AngularJs, base de datos (sql y nosql), Hibernate, etc.</strong>
    </p>
  </div>

  <img src="/public/me.jpg" class="rounded-full size-64 order-1 md:order-2" />

</article>


<br>
<br>
<LanguagesTable />
<br>
<br>




<div class="px-10 py-10 md:py-15"> 
    <Study />
</div>


