---
import ExperienceItem from "./ExperienceItem.astro"

//Translate
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const EXPERIENCE = [
    {
        date: t("experience.item_1_date"),
        title: t("experience.item_1_title"),
        company: t("experience.item_1_company"),
        description: [
            t("experience.item_1_description_1"), 
            t("experience.item_1_description_2"),
            t("experience.item_1_description_3"),
            t("experience.item_1_description_4")
        ],
        link: 'http://www.sydema.it/laweb4.html'
    },
    {
        date: t("experience.item_2_date"),
        title: t("experience.item_2_title"),
        company: t("experience.item_2_company"),
        description: [
            t("experience.item_2_description_1"), 
            t("experience.item_2_description_2"),
            t("experience.item_2_description_3"),
            t("experience.item_2_description_4"),
            t("experience.item_2_description_5")
        ],
        link: 'https://empresas.movistar.com.pe/'
    },
    {
        date: t("experience.item_3_date"),
        title: t("experience.item_3_title"),
        company: t("experience.item_3_company"),
        description: [
            t("experience.item_3_description_1"), 
            t("experience.item_3_description_2"),
            t("experience.item_3_description_3")
        ],
        link: 'http://www.sunat.gob.pe'
    }

]
---

<ol class="relative mt-16">
    {
        EXPERIENCE.map(experience=>(
            <li class="">
                <ExperienceItem {...experience}/>
            </li>
        ))
    }
</ol>
