---
import LanguagesTableItem from "./LanguagesTableItem.astro"

//Translate
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

const LANGUAGES = [
    {
        language: t("LanguagesTable.language_es"),
        listening: t("LanguagesTable.language_lvl"),
        speaking: t("LanguagesTable.language_lvl"),
        writing: t("LanguagesTable.language_lvl")
    },
    {
        language: t("LanguagesTable.language_en"),
        listening: 'C2',
        speaking: 'C2',
        writing: 'C1'
    },
    {
        language: t("LanguagesTable.language_it"),
        listening: 'C1',
        speaking: 'C1',
        writing: 'C1'
    },
    {
        language: t("LanguagesTable.language_de"),
        listening: 'A2',
        speaking: 'A2',
        writing: 'A2'
    },
]
---


<div class="relative overflow-x-auto shadow-md sm:rounded-lg hover:table-fixed border-separate">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    {t("LanguagesTable.language_language")}
                </th>
                <th scope="col" class="px-6 py-3">
                    {t("LanguagesTable.language_listening")}
                </th>
                <th scope="col" class="px-6 py-3">
                    {t("LanguagesTable.language_speaking")}
                </th>
                <th scope="col" class="px-6 py-3">
                    {t("LanguagesTable.language_writing")}
                </th>
            </tr>
        </thead>
        <tbody>
    
            {
                LANGUAGES.map(languages=>(
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                        <LanguagesTableItem {...languages}/>
                    </tr>
                ))
            }   
          
        </tbody>
    </table>
</div>