---
const personalImageAlt = "Pedro"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/icons/LinkedIn.astro"
import MailIcon from "@/icons/Mail.astro"
import SocialPill from "@/icons/SocialPill.astro"
import GitHubIcon from "@/icons/Github.astro";

//Translate
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";
---


<div class="max-w-[800px]">

    <div class="flex gap-4 mb-4">
        <img 
            src="/projects/me_logo.jpeg" 
            class="rounded-full shadow-lg size-24"
            alt="nibi photo"/> 
        <a
            href="https://www.linkedin.com/in/pjaimer/"
            target="_blank"
            rel="noopener"
            class="flex justify-center items-center hover:scale-105 transition" >
            <Badge>{t("me.me_hire")}</Badge>
        </a>
    </div>
    <h1 class="p-hidden text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 ">
    Hello there, Im Pedro
    </h1>
    <h2 class="text-2xl lg:text-2xl text-balance max-w-[1000px] text-red-800 dark:text-red-400 pt-6 lg:pt-10">
        <strong>Full Stack Software Engineer ☕ .</strong>
        <span class="mt-6 text-2xl text-gray-900 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
            {t("me.me_intro_1")}
        </span>
        <span class="text-red-800 dark:text-red-400">
            {t("me.me_intro_2")} 💻.
        </span>
    </h2>

    <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://www.linkedin.com/in/pjaimer/">
            <LinkedInIcon class="size-4 md:size-6"></LinkedInIcon>
            LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/">
            <GitHubIcon class="size-4 md:size-6"></GitHubIcon>
            Github
        </SocialPill>
        <SocialPill href="mailto:nibi.amdukia@gmail.com">
            <MailIcon class="size-4 md:size-6"></MailIcon>
            nibi.amdukia@gmail.com
        </SocialPill>
    </nav>

</div>