---
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Experience from "@/components/experience/Experience.astro";
import Projects from "@/components/Projects.astro";
import Me from "@/components/contact/Me.astro";
import BriefcaseIcon from "@/icons/Briefcase.astro";
import CodeIcon from "@/icons/Code.astro";
import ProfileCheck from "@/icons/ProfileCheck.astro";
import SkillsIcon from "@/icons/SkillsIcon.astro";
import Skills from "@/components/SkillsCarousel.astro";
//Translate
import i18next, { t, changeLanguage } from "i18next";
import { Trans, HeadHrefLangs } from "astro-i18next/components";

changeLanguage("es");
---

<Layout 
	title="Portfolio Pedro | Software Developer & Software Engineer"
	description="Contrata a Pedro para desarrollar, implementar y/o mejorar tu software"
>
	<main class="px-4">

		<SectionContainer class="py-16 md:py-32" id="contacto">
			<Me>
				</slot>
			</Me>
		</SectionContainer>
		
		<div class="space-y-20">
			<SectionContainer id="experiencia">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<BriefcaseIcon class="size-8" />
					<p class="duration-500 hover:scale-110 origin-left">{t("index.section_1")}</p>
			  	</h2>
			  	<Experience />
			</SectionContainer>
		
			<SectionContainer id="proyectos">
			  	<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<CodeIcon class="size-8" />
					{t("index.section_2")}
			  	</h2>
			  	<Projects />
			</SectionContainer>
		
			<SectionContainer id="sobre-mi">
			  	<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
					<ProfileCheck class="size-8" />
					{t("index.section_3")}
			  	</h2>
			  	<AboutMe />
			</SectionContainer>

			<SectionContainer id="skills">
				<h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white">
				  <SkillsIcon class="size-8" />
				  {t("index.section_4")}
				</h2>
				<Skills />
		  	</SectionContainer>
		</div>
		
	</main>
</Layout>

